$primary-color: #FFCF3F;
$complementary-color: #ff3232;


.App {
  width: 100%;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black;
  color: white;
  padding: .8rem 1rem;
  font-size: .7rem;
}

.header {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3rem 1rem 1rem 1rem;
}

.menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100;
  left: 100%;
  top: 0;
  padding: 2rem;
  background-color: white;
  transition: all 300ms ease;
  &.active {
    left: 0;
  }
}

.menu-icon {
  display: flex;
  align-items: flex-end;
}

.close-btn__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn {
  img {
    width: 20px;
    height: 20px;
  }
}

.nav {
  margin-top: 1rem;
  width: 100%;
  text-align: left;
}

.nav-item {
  display: block;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
  padding: .8rem 0;
  cursor: pointer;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.pop-bg {
  background-color: $primary-color;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  text-align: left;
}

.title {
  font-family: 'avenir-heavy', cursive;
  font-size: 3.5rem;
  font-weight: normal;
  color: black;
  margin-bottom: 1.5rem;
}

.main-title {
  visibility: hidden;
  position: absolute;
}

.button {
  background: $complementary-color;
  padding: .8rem;
  color: white;
  border: none;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}

.header-image {
  height: 70vh;
  width: 100%;
  // background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./assets/img/lifestyle2.jpg") no-repeat;
  background: url("./assets/img/lifestyle2.jpg") no-repeat;
  background-position: center 60%;
  background-size: cover;
}

.subtitle {
  color: black;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.Logo{
  height: 25px;
}

.App-section {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: .9rem;
}

.Primary-bg {
  position: relative;
  color: black;
  overflow: hidden;

  &.colored {
    background-color: black;
    .subtitle {
      color: white;
    }
  }
}

.storystelling {
  margin: 0 2rem;
  text-align: justify;
}

.section-image {
  margin-top: 2rem;
  position: relative;
  padding: 0;
}

.image{
  display: block;
  width: auto;
  height: 130vw;
}

.overlay {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 2rem;
  width: calc(100% - 4rem);
  height: 100%;
  z-index: 100;
  background-color: rgba(0,0,0,0.0);
}

.border-padding {
  padding: 2rem 1rem;
  border-radius: 10px;
}

.sheesh-border {
  border: 2px dashed $primary-color;
}

.food-menu {
  width: 100%;
  margin: 1rem 0;
}

.food-menu__item {
  padding: 1rem 0;
}

.food-menu__item-title {
  font-size: 2.2rem;
  color: $complementary-color;
}

.food-menu-image {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 75vw;
  img {
    width: auto;
    height: 75vw;
  }
}

.contact {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: white;
}

.map {
  margin-top: 2rem;
  width: 100%;
  height: 40vh;
  iframe {
    height: 100%;
    width: 100%;
  }
}

@media(min-width: 768px) {
  .info {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    .text {
      margin: 0 1rem;
    }
  }

  .menu-icon {
    display: none;
  }

  .header {
    align-items: center;
    padding: 1.5rem 2rem 1rem 2rem;
  }

  .Logo{
    height: 40px;
    margin-bottom: .5rem;
  }

  .menu {
    position: relative;
    width: auto;
    height: auto;
    z-index: 0;
    left: 0;
    top: 0;
    padding: 0;
    background-color: transparent;
  }

  .close-btn__container {
    display: none;
  }

  .nav {
    margin-top: 0;
    width: auto;
    text-align: center;
  }

  .nav-item {
    display: inline;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 1rem;
    cursor: pointer;
  }

  .home {
    display: flex;
    flex-direction: row;
    padding: 2rem;
  }

  .pop-bg {
    height: 80vh;
    width: 50%;
    text-align: right;
    align-items: flex-end;
    position: relative;
    order: 2;
  }

  .title {
    width: 100%;
    margin-top: -5%;
    // position: absolute;
    // right: 50%;
    // top: 5%;
    font-size: 7rem;
  }

  .button-home {
    display: none;
  }

  .header-image {
    height: 80vh;
    width: 50%;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("./assets/img/lifestyle2.jpg") no-repeat;
    background-position: center 60%;
    background-size: cover;
  }

  .storystelling {
    margin: 0 8rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .App-section {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }

  .section-image {
    margin-top: 4rem;
    width: 100%;
    height: 70vh;
    padding: 0 2rem;
    position: relative;
    .image-container{
      height: 100%;
      overflow: hidden;
      width: auto;
    }

    .image{
      height: 100%;
      position: relative;
      left: 0;
      top: -12%;
      bottom: 50%;
      min-width: 100%;
      width: auto;
      height: auto;
    }
  }

  .overlay {
    font-size: 3rem;
  }

  .food-menu-image {
    width: 30vh;
    overflow: hidden;
    height: auto;
    img {
      width: 100%;
      margin: 0;
      height: auto;
    }
  }

  .contact {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }

}

.pb-0 {
  padding-bottom: 0;
}