.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Yellow-bg {
  background-color: #FFCF3F;
  color: white;
}

.Purple-bg {
  background-color: purple;
  color: white;
}

.Primary-bg {
  position: relative;
  color: white;
  overflow: hidden;
  
  .image{
    z-index: -100;
    background-color: rgba(0,0,0,.3);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .Cover {
    z-index: -200;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
  }
}

.Social-anchor {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
  &:hover, &:focus {
    color: white;
  }
}

.Logo{
  max-height: 4rem;
  max-width: 80%;
}

.small {
  font-size: .8rem;
}

.App-section {
  margin: 10px;
  height: calc(100vh - 20px);
  width: calc(100% - 20px);
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  &.half{
    border: none;
    cursor: pointer;
    height: calc(50vh - 10px);
    opacity: .8;
    &:hover {
      opacity: 1;
    }
    &:nth-child(1) {
      margin-bottom: 0;
    }
    &:nth-child(2) {
      margin-top: 0;
    }
  }
}


@media(min-width: 768px) {
  .App {
    display: flex;
    flex-direction: row;
  }
  .App-section {
    margin: 30px;
    height: calc(100vh - 60px);
    width: calc(100% - 60px);
    font-size: 1.5rem;
    &.half{
      border: none;
      cursor: pointer;
      height: calc(100vh - 60px);
      width: calc(50% - 30px);
      &:nth-child(1) {
        margin-bottom: 30px;
        margin-right: 0;
      }
      &:nth-child(2) {
        margin-top: 30px;
        margin-left: 0;
      }
    }
  }

  .small {
    font-size: .9rem;
  }
}