@font-face {
  font-family: avenir;
  src: url(./assets/fonts/AVENIRLTSTD-BOOK.OTF);
}

@font-face {
  font-family: avenir-heavy;
  src: url(./assets/fonts/AVENIRLTSTD-HEAVY.OTF);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: avenir, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary-font {
  font-family: 'avenir', cursive;
}